# Exercises - Day 2

#### Exercises: Level 1

#### Exercises 1

#### Day 2: 30 Days of python programming

In [24]:

first_name = "Zaharaddeen"
last_name = "Nura Ibrahim"
country = "Nigeria"
city = "Kano"
age = 30
year = 2023
is_married = False
is_true = True
is_light_on = True
first_name, last_name, country, city, age, is_married, is_true, is_light_on = "Zaharaddeen", "Nura Ibrahim", "Nigeria", "Kano", 30, False, True, True

In [13]:
print(first_name)
print(last_name)
print(country)
print(city)
print(age)
print(year)
print(is_married)
print(is_true)
print(is_light_on)
print(first_name,last_name,country,city,age,is_married, is_true,is_light_on)

Zaharaddeen
Nura Ibrahim
Nigeria
Kano
30
2023
False
True
True
Zaharaddeen Nura Ibrahim Nigeria Kano 30 False True True

#### Exercises 2

#### Check the data type of all your variables using type() built-in function

In [22]:
print(type(first_name))
print(type(last_name))
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_true))
print(type(is_light_on))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

#### Using the len() built-in function, find the length of your first name

In [25]:
print(len("Zaharaddeen"))

11

#### Compare the length of your first name and your last name

In [27]:
print(len("zaharadden"))
print(len("Nura Ibrahim"))

10
12

#### Declare 5 as num_one and 4 as num_two

In [31]:
num_one = 5
num_two = 4

total = num_one + num_two 
print(total)

diff = num_two - num_one
print(diff)

product = num_two * num_one
print(product)

division = num_one / num_two
print(division)

remainder = num_two % num_one
print(remainder)

exp = num_one ** num_two
print(exp)

floor_division = num_one // num_two
print(floor_division)

9
-1
20
1.25
4
625
1

#### The radius of a circle is 30 meters
#### Calculate the area of a circle and assign the value to a variable name of area_of_circle
#### Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
#### Take radius as user input and calculate the area