# Exercises Day 7

#### Exercises: Level 1

#### Exercise 1

In [1]:
# Find the length of the set it_companies

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

#### Exercise 2

In [2]:
# Add 'Twitter' to it_companies

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add('Twitter')
print(it_companies)

{'Twitter', 'IBM', 'Apple', 'Google', 'Microsoft', 'Amazon', 'Oracle', 'Facebook'}

#### Exercise 3

In [3]:
# Insert multiple IT companies at once to the set it_companies

it_companies.update(['Techno','Itel'])
print(it_companies)

{'Apple', 'Oracle', 'Amazon', 'Itel', 'Google', 'Facebook', 'Twitter', 'IBM', 'Techno', 'Microsoft'}

#### Exercise 4

In [5]:
# Remove one of the companies from the set it_companies

it_companies.pop()
print(it_companies)

{'Oracle', 'Itel', 'Google', 'Facebook', 'Twitter', 'IBM', 'Techno', 'Microsoft'}

#### Exercise 5

In [ ]:
# What is the difference between remove and discard

# Both remove an element from a set but while remove raises a key error if the element is not found in the set, discard does nothing.

#### Exercises: Level 2

#### Exercise 1

In [12]:
# Join A and B

join_A  = {15, 19, 24, 14, 20, 21}
join_B  = {15, 19, 14, 20, 21, 24, 25, 26}
union = join_A.union(join_B)
print(union)

{14, 15, 19, 20, 21, 24, 25, 26}

#### Exercise 2

In [13]:
# Find A intersection B

join_A.intersection(join_B)

{14, 15, 19, 20, 21, 24}

#### Exercise 3

In [15]:
# Is A subset of B

join_A.issubset(join_B)

True

#### Exercise 4

In [18]:
# Are A and B disjoint sets

join_A.isdisjoint(join_B)

False

#### Exercise 5

In [21]:
# Join A with B and B with A

union = join_A.union(join_B)
print(union)
X = join_B.union(join_A)
print(X)

{14, 15, 19, 20, 21, 24, 25, 26}
{14, 15, 19, 20, 21, 24, 25, 26}

#### Exercise 6

In [22]:
# What is the symmetric difference between A and B

join_A.symmetric_difference(join_B)

{25, 26}

#### Exercise 7

In [23]:
# Delete the sets completely

del join_A

del join_B

#### Exercises: Level 3

#### Exercise 1

In [24]:
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?

age = [22, 19, 24, 25, 26, 24, 25, 24]
to_set = set(age)
print(to_set)
print('Length of the list:', len(age))
print('Length of the set:', len(to_set))
print('List is bigger')

{19, 22, 24, 25, 26}
Length of the list: 8
Length of the set: 5
List is bigger

#### Exercise 2

In [ ]:
# Explain the difference between the following data types: string, list, tuple and set

#### Exercise 3

""" I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words."""

In [25]:
sentence = 'I am a teacher and I love to inspire and teach people'

unique_words = set(sentence.split())
print('Unique words in the sentence:', unique_words)

Unique words in the sentence: {'love', 'inspire', 'and', 'am', 'teach', 'I', 'to', 'people', 'a', 'teacher'}