 # Exercises Day 13

#### Exercise 1

In [5]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

filtered_list = [numb for numb in numbers if numb <= 0]

print("Filtered list negative and zero:", filtered_list)

Filtered list negative and zero: [-4, -3, -2, -1, 0]

#### Exercise 2

In [6]:
# Flatten the following list of lists of lists to a one dimensional list

list_of_lists = [[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

flatten_list = [item for sublist in list_of_lists for subsublist in sublist for item in subsublist]

print("Flattened list:", flatten_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Exercise 3

In [7]:
# Using list comprehension create the following list of tuples


""" [(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)] """

list_of_tuples = [(i, 1, i**1, i**2, i**3, i**4, i**5) for i in range(11)]

print(list_of_tuples)

[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]

#### Exercise 4

In [10]:
# Flatten the following list to a new list

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
flatten_list_countries = [item for sublist in countries for item in sublist]

print("Flattened list:", flatten_list_countries)

Flattened list: [('Finland', 'Helsinki'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo')]

#### Exercise 5

In [11]:
# Change the following list to a list of dictionaries

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
dict_countries = [{'country': country, 'city': city} for sublist in countries for country, city in sublist]

print("Flattened list:", dict_countries)

Flattened list: [{'country': 'Finland', 'city': 'Helsinki'}, {'country': 'Sweden', 'city': 'Stockholm'}, {'country': 'Norway', 'city': 'Oslo'}]

#### Exercise 6

In [12]:
 # Change the following list of lists to a list of concatenated strings
 
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
concatenated_names = []
for sublist in names:
  for first_name, last_name in sublist:
    full_name = f"{first_name} {last_name}"
    concatenated_names.append(full_name)
    concatenated_names = [f"{first_name} {last_name}" for sublist in names for first_name, last_name in sublist]

print("List of concatenated string:", concatenated_names)

List of concatenated string: ['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

#### Exercise 7

In [25]:
# Write a lambda function which can solve a slope or y-intercept of linear functions.

# y = m * x + c
slope = lambda m,c,x:c  
print("slope:",slope(2,4,2))

slope: 4