# Exercise Day 5

#### Exercises: Level 1

#### Exercise 1

In [4]:
# Declare an empty list

empty_list = list()
print(empty_list)

[]

#### Exercise 2

In [5]:
# Declare a list with more than 5 items

list = ["Zdeen", "Nura", "Aisha", "Musa", "Ali"]
print(list)

['Zdeen', 'Nura', 'Aisha', 'Musa', 'Ali']

#### Exercises 3

In [6]:
# Find the length of your list
print(len(list))

5

#### Exercises 4

In [10]:
# Get the first item, the middle item and the last item of the list

list = ["Zdeen", "Nura", "Aisha", "Musa", "Ali"]

print(f'First item: {list[0]}')
print(f'Middle item: {list[len(list) // 2]}')
print(f'Last item: {list[-1]}')

First item: Zdeen
Middle item: Aisha
Last item: Ali

#### Exercises 5

In [15]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

mixed_data_types = ["Zaharaddeen", 30 , 18.7, "Sinle", "Badawa Yantifa Street"]
print(mixed_data_types)

['Zaharaddeen', 30, 18.7, 'Sinle', 'Badawa Yantifa Street']

#### Exercises 6

""" Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon. """

In [40]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

#### Exercises 7

In [41]:
# Print the list using print()

print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

#### Exercises 8

In [42]:
# Print the number of companies in the list

print(f'Number of companies: {len(it_companies)}')

Number of companies: 7

#### Exercises 9

In [43]:
# Print the first, middle and last company

print(f'First item: {it_companies[0]}')
print(f'Middle item: {it_companies[len(it_companies) // 2]}')
print(f'Last item: {it_companies[-1]}')

First item: Facebook
Middle item: Apple
Last item: Amazon

#### Exercises 10

In [44]:
# Print the list after modifying one of the companies

it_companies[0] = 'Blackberry' 
print(it_companies)

['Blackberry', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

#### Exercises 11

In [45]:
# Add an IT company to it_companies

it_companies.append('Facebook')
print(it_companies)

['Blackberry', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Facebook']

#### Exercises 12

In [46]:
# Insert an IT company in the middle of the companies list

it_companies.insert(len(it_companies)//2,'Telegram')
print(it_companies)

['Blackberry', 'Google', 'Microsoft', 'Apple', 'Telegram', 'IBM', 'Oracle', 'Amazon', 'Facebook']

#### Exercises 13

In [48]:
# Change one of the it_companies names to uppercase (IBM excluded!)

item_index = 0  
it_companies[item_index] = it_companies[item_index].upper()
print(it_companies)

['BLACKBERRY', 'Google', 'Microsoft', 'Apple', 'Telegram', 'IBM', 'Oracle', 'Amazon', 'Facebook']

#### Exercises 14

In [49]:
# Join the it_companies with a string '#;  '

';#'.join(it_companies)

'BLACKBERRY;#Google;#Microsoft;#Apple;#Telegram;#IBM;#Oracle;#Amazon;#Facebook'

#### Exercises 15

In [51]:
# Check if a certain company exists in the it_companies list.

'Twitter' in it_companies

False

#### Exercises 16

In [52]:
# Sort the list using sort() method

it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'BLACKBERRY', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'Telegram']

#### Exercises 17

In [53]:
# Reverse the list in descending order using reverse() method

it_companies.reverse() 
print(it_companies)

['Telegram', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'BLACKBERRY', 'Apple', 'Amazon']

#### Exercises 18

In [54]:
# Slice out the first 3 companies from the list

it_companies[:3]

['Telegram', 'Oracle', 'Microsoft']

#### Exercises 19

In [55]:
# Slice out the last 3 companies from the list

it_companies[-3:]

['BLACKBERRY', 'Apple', 'Amazon']

#### Exercises 20

In [56]:
# Slice out the middle IT company or companies from the list

it_companies[len(it_companies)//2:len(it_companies)//2+1]

['Google']

#### Exercises 21

In [57]:
# Remove the first IT company from the list

it_companies.pop(0)
it_companies

['Oracle',
 'Microsoft',
 'IBM',
 'Google',
 'Facebook',
 'BLACKBERRY',
 'Apple',
 'Amazon']

#### Exercises 22

In [58]:
# Remove the middle IT company or companies from the list

it_companies.pop(int(len(it_companies)/2))

'Facebook'

#### Exercises 23

In [59]:
# Remove the last IT company from the list

it_companies.pop()
it_companies

['Oracle', 'Microsoft', 'IBM', 'Google', 'BLACKBERRY', 'Apple']

#### Exercises 24

In [60]:
# Remove all IT companies from the list

it_companies.clear()
it_companies

[]

#### Exercises 25

In [68]:
# Destroy the IT companies list

it_companies = ['Blackberry', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Facebook']
del it_companies

#### Exercises 26

In [69]:
# Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
front_end.extend (back_end)

print('Frontend and Backend:', front_end)

Frontend and Backend: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

#### Exercises 27

""" After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux."""

In [70]:
full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
redux_index = full_stack.index('Redux')

full_stack.insert(redux_index + 1, 'Python')
full_stack.insert(redux_index + 2, 'SQL')

print('Full Stack:', full_stack)

Full Stack: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

#### Exercises: Level 2

#### Exercise 1

In [71]:
# Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()
min_age = min(ages)
max_age = max(ages)

print('Sorted Ages:', ages)
print('Minimum Age:', min_age)
print('Maximum Age:', max_age)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age: 19
Maximum Age: 26

In [73]:
# Add the min age and the max age again to the list

ages.extend([19,26])
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26]

In [75]:
# Find the median age (one middle item or two middle items divided by two)
ages.sort()
ages_length = len(ages)
len(ages)
print(ages[int(len(ages)/2-1)])

24

In [76]:
# Find the average age (sum of all items divided by their number )

average_age = sum(ages) / len(ages)
print(average_age)

22.714285714285715

In [77]:
# Find the range of the ages (max minus min)
age_range = max(ages) - min(ages)

print(age_range)

7

In [79]:
# Compare the value of (min - average) and (max - average), use abs() method 

average_age = sum(ages) / len(ages)

min_difference = abs(min(ages) - average_age)
max_difference = abs(max(ages) - average_age)

print('Difference (min - average):', min_difference)
print('Difference (max - average):', max_difference)

Difference (min - average): 3.7142857142857153
Difference (max - average): 3.2857142857142847

#### Exercise 2

In [82]:
# Find the middle country(ies) in the countries list

countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
    'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria',
    'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
    'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
    'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
    'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
    'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
    'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
    'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North',
    'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
    'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
    'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia',
    'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
    'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
    'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent',
    'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles',
    'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain',
    'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
    'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
    'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City',
    'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe',
]


middle_index = len(countries) // 2
middle_country = countries[middle_index]

print(middle_country)

Lesotho

#### Exercise 3

In [83]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.

middle_index = len(countries) // 2

first_half = countries[:middle_index + len(countries) % 2:]
second_half = countries[middle_index + len(countries) % 2:]

print(first_half)
print( second_half)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

#### Exercise 4

""" ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries. """

In [85]:
first_country, second_country, third_country, *scandic_countries = countries

print('First Country:', first_country)
print('Second Country:', second_country)
print('Third Country:', third_country)
print('Scandic Countries:', scandic_countries)

First Country: Afghanistan
Second Country: Albania
Third Country: Algeria
Scandic Countries: ['Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']