# Exercise Day 5

#### Exercises: Level 1

#### Exercise 1

In [ ]:
# Declare an empty list

#### Exercise 2

In [ ]:
# Declare a list with more than 5 items

#### Exercises 3

In [ ]:
# Find the length of your list

#### Exercises 4

In [ ]:
# Get the first item, the middle item and the last item of the list

#### Exercises 5

In [ ]:
# Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

#### Exercises 6

In [ ]:
# Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

#### Exercises 7

In [ ]:
# Print the list using print()

#### Exercises 8

In [ ]:
# Print the number of companies in the list

#### Exercises 9

In [ ]:
# Print the first, middle and last company

#### Exercises 10

In [ ]:
# Print the list after modifying one of the companies

#### Exercises 11

In [ ]:
# Add an IT company to it_companies

#### Exercises 12

In [ ]:
# Insert an IT company in the middle of the companies list

#### Exercises 13

In [ ]:
# Change one of the it_companies names to uppercase (IBM excluded!)

#### Exercises 14

In [ ]:
# Join the it_companies with a string '#;  '

#### Exercises 15

In [ ]:
# Check if a certain company exists in the it_companies list.

#### Exercises 16

In [ ]:
# Sort the list using sort() method

#### Exercises 17

In [ ]:
# Reverse the list in descending order using reverse() method

#### Exercises 18

In [ ]:
# Slice out the first 3 companies from the list

#### Exercises 19

In [ ]:
# Slice out the last 3 companies from the list

#### Exercises 20

In [ ]:
# Slice out the middle IT company or companies from the list

#### Exercises 21

In [ ]:
# Remove the first IT company from the list

#### Exercises 22

In [ ]:
# Remove the middle IT company or companies from the list

#### Exercises 23

In [ ]:
# Remove the last IT company from the list

#### Exercises 24

In [ ]:
# Remove all IT companies from the list

#### Exercises 25

In [ ]:
# Destroy the IT companies list

#### Exercises 26

In [ ]:
# Join the following lists:

#### Exercises 27

In [ ]:
# After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

#### Exercises: Level 2

#### Exercise 1

In [ ]:
# The following is a list of 10 students ages:

#### Exercise 1

In [ ]:
# Find the middle country(ies) in the countries list

#### Exercise 2

In [ ]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.

#### Exercise 3

In [ ]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.